// .header {
//   position: absolute;
//   width: 100%;
// }

/*Hero*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1 solid red;
}
.hero__wrap {
  max-width: 450px;
}

.hero {
  max-width: 1600px;
  padding-top: 185px;
  padding-bottom: 200px;
  background-color: #0d0d33;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 42px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 35px;
}

.hero__pretitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 2.73;
  color: #ffffff;
  margin-bottom: 35px;
}

.hero__button {
  padding: 15px 37px;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  background: #0a8bfe;
  border-radius: 4px;
}
