// header
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
.fon {
  background-color: #0d0d33;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__container {
  padding-top: 55px;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 415px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 2.31;
  color: #ffffff;
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 2.31;
  color: #ffffff;
}
.header__btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  text-align: center;
  padding: 12px 16px;
  width: 138px;

  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-left: auto;
}

// .header {
//   position: absolute;
//   width: 100%;
// }

/*Hero*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1 solid red;
}
.hero__wrap {
  max-width: 450px;
}
.hero {
  max-width: 1600px;
  padding-top: 185px;
  padding-bottom: 200px;

  // background-color: #0D0D33;
  // background-image: url(../images/hero-img.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  background-color: #0d0d33;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 42px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 35px;
}

.hero__pretitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 2.73;
  color: #ffffff;
  margin-bottom: 35px;
}

.hero__button {
  padding: 15px 37px;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  background: #0a8bfe;
  border-radius: 4px;
}
