.our-work {
  background: #0E0E33;
}
.our-work-titel {
  min-width: 440px;
  font-family: 'Roboto' sans-serif;
  font-size: 41px;

  line-height: 1.22;

  text-align: center;

  color: #FFFFFF;
}
.work-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.our-work-text {
  
}