// resources

.resources__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.19;

  text-align: center;

  color: #000000;
  margin-bottom: 35px;
}
.resources__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;

  color: #737373;
  margin-bottom: 75px;
}
