<section class="callback-section">
<div class="fon-callback">
  <div class="callback-modal">
    <h2 class="callback-modal-title">
      Request a callback from our <br />
      expert team
    </h2>

    <form class="callback-modal-form">
 <div class="callback-modal-text">
		<label></label>
			<div class="callback-imput-wrap">
			<input type="text"
			class="callback-form-imput"
			name="Required"
            placeholder="Required sevice*"
			required> 
</div>

 <div class="callback-modal-comment">
		<label></label>
			<div class="callback-imput-wrap">
			<input type="text"
			class="callback-form-imput comment"
			name="Required"
            placeholder="Details*"
			required>
</div>

<button type="submit" class="button callback-modal-send">Send request</button>
    </form>
  </div>
</div>
</section>