<section class="faq">
  <div class="container faq_container">
    <h2 class="faq_title">FAQ</h2>
    <p class="faq_text">
      Below is a list of frequently asked questions. If you can't find what
      you’re looking for then feel free to ask us directly via
      <a class="faq_link" href="">email</a>.
    </p>

    <ul class="faq_items">
      <li class="faq_question">
        1.What is your privacy and security policy?
        <svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
      <li class="faq_question">
        2.How long is the development timeline?
        <svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
      <li class="faq_question">
        3.What type of companies do you work with?
        <svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
      <li class="faq_question">
        4.How many team members for a project?
        <svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
      <li class="faq_question">
        5.What warranties are to ensure deliverables are met?
        <svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
      <li class="faq_question">
        6.Do you outsource work?<svg width="30" height="30" class="icon-plus">
          <use href="./images/icon.svg#icon-plus"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
