<footer class="footer">
  <div class="footer__container container">
    <h2>Trusted by businesses worldwide.</h2>
    <a class="link" href="">logo</a>
    <div class="services">
      <h3>Our services</h3>
      <ul class="services__list list">
        <li class="services__item">
          <a href="" class="services__link link">iOS App Development</a>
        </li>
        <li class="services__item">
          <a href="" class="services__link link">Android App Development</a>
        </li>
        <li class="services__item">
          <a href="" class="services__link link">UX/UI App Design</a>
        </li>
        <li class="services__item">
          <a href="" class="services__link link">Custom Software Development</a>
        </li>
        <li class="services__item">
          <a href="" class="services__link link"
            >Healthcare Software Development</a
          >
        </li>
        <li class="services__item">
          <a href="" class="services__link link"
            >Education Software Development</a
          >
        </li>
        <li class="services__item">
          <a href="" class="services__link link"
            >FinTech Software Development</a
          >
        </li>
      </ul>
    </div>
    <address class="footer__address">
      <h3>Our offices</h3>
      <ul class="address list">
        <li class="address__item">
          <a href="" class="address__link link"
            >WeWork - George St, Sydney, Australia</a
          >
        </li>
        <li class="address__item">
          <a href="" class="address__link link"
            >Sydney Startup Hub - Sydney, Australia</a
          >
        </li>
        <li class="address__item">
          <a href="" class="address__link link"
            >WeWork - Edward St, Brisbane, Australia</a
          >
        </li>
        <li class="address__item">
          <a href="" class="address__link link"
            >40 Bank St, Canary Wharf, London, UK</a
          >
        </li>
        <li class="address__item">
          <a href="" class="address__link link"
            >WeWork - Paddington, West London, UK</a
          >
        </li>
        <li class="address__item">
          <a href="" class="address__link link"
            >WeWork - Mission St, San Francisco, US</a
          >
        </li>
      </ul>
      <div class="footer-contact">
        <ul class="footer-contact__list list">
          <li class="footer-contact__item">
            <a href="" class="footer-contact__link link"></a>
          </li>
          <li class="footer-contact__item">
            <a href="" class="footer-contact__link link"></a>
          </li>
          <li class="footer-contact__item">
            <a href="" class="footer-contact__link link"></a>
          </li>
          <li class="footer-contact__item">
            <a href="" class="footer-contact__link link"></a>
          </li>
        </ul>
      </div>
    </address>
  </div>
</footer>
