<header class="header-fon">
  <div class="container header-container">
    <a href="" class="logo">
      <img src="" alt="Логотип компанії" />
      Appello
    </a>
    <nav>
      <ul class="header-list list">
        <li class="header-item">
          <a href="" class="header-link">Home</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link link">Portfolio</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link link">Process</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link link">Team</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link">Resources</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn">Get project quote</button>
  </div>
</header>
