<div class="fon">
<header class="header">
  
  <div class="header__container container">
  <a href="" class="logo">Appello</a>
  <nav class="nav">
    <ul class="header__list">
      <li><a href="" class="header__link">Home</a></li>
      <li><a href="" class="header__link">Portfolio</a></li>
      <li><a href="" class="header__link">Process</a></li>
      <li><a href="" class="header__link">Team</a></li>
      <li><a href="" class="header__link">Resources</a></li>
    </ul>
  </nav>
  <button type="button" class="header__btn">Get project quote</button>
  </div>
</header>




<section class="hero section">
    <div class="hero__container container">
        <div class="hero__wrap">
        <h1 class="hero__title">Leaders in Software Design & Development</h1>

        <p class="hero__pretitle">
          Establishing a technology company takes a strong software team to
          deliver on what needs to be done.
        </p>

        <button type="button" class="hero__button">View our work</button>
        </div>
      </section>
      </div>