<section class="industry">
  <div class="container industry_container">
    <h2 class="industry_title">We're industry approved</h2>
    <p class="industry_text">
      Appello is one of Australia’s most highly rated software companies by
      recognisable directories like Clutch, GoodFirms, AppFutura and many more.
    </p>
    <ul class="industry_items">
      <li><img src="./images/industry-1.png" alt="" /></li>
      <li><img src="./images/industry-2.png" alt="" /></li>
      <li><img src="./images/industry-3.png" alt="" /></li>
      <li><img src="./images/industry-4.png" alt="" /></li>
    </ul>
  </div>
</section>
