<section class="kickstart">
   
<h2 class="kickstart-title">kickstart your tech career</h2>
<p class="kickstart-text">We're always on the lookout for bright strategic minds, creative superstars and coding gurus. Select one of our current opportunities below to<br> apply.</p>
    <button type="button" class="our-next-btn">our next</button>
    <button type="button" class="our-prev-btn">our prev</button>
<ul class="kickstart-list list">
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Backend Engineer</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Product Designer</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Frontend Engineer</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Project Manager</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Finance Director</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Backend Engineer</button></li>
        <li class="kickstart-item"><button type="button" class="kickstart-btn">Product Designer</button></li>
    </ul>
  

</section>