<section class="section our-work">
  <div class="container"></div>
  <h2 class="our-work__titel">We’re proud of our work</h2>
    <ul class="work-list list">
      <li class="work-item">
        <span>50+</span>
        <p class="our-work-text">Successfully completed projects</p>
      </li>
      <li class="work-item">
        <span>35+</span>
        <p class="our-work-text">Happy and appreciative customers</p>
      </li>
      <li class="work-item">
        <span>10</span>
        <p class="our-work-text">Combined years of experience</p>
      </li>
      <li class="work-item">
        <span>23</span>
        <p class="our-work-text">Experienced and talented workers</p>
      </li>
    </ul>

    <ul class='work-example'>
      <li class="work-example__item">
        <img src="images/our-work1.jpg" alt="" width="545" height="402">
        <div class="work-example-div">
          <h3 class="work-example__titel">Eyetelligence – AI-based Eye Health</h3>
        <p class="work-example__text">
          Eyetelligence is a medtech company using AI based software to
          recognise eye diseases. Appello software developed their website
          which has just been released.
        </p>
      </div>

      </li>
      <li class="work-example__item">
        <img src="images/our-work2.jpg" alt="" width="545" height="402">
        <div class="work-example-div">
          <h3 class="work-example__titel">Give + Get – Charity Challenger App</h3>
        <p class="work-example__text">
          Give + Get is a modern charity app. “Give”, while joining a
          community of active people who complete challenges and reap the
          rewards they offer; “Get”.
        </p>
        </div>

      </li>
      <li class="work-example__item">
        <img src="images/our-work3.jpg" alt="" width="545" height="402">
        <div class="work-example-div">
          <h3 class="work-example__titel">Voken – Shared Childcare App</h3>
        <p class="work-example__text">
          Voken lets people arrange childcare with families they trust, earn tokens and use for your own requests.
        </p>
        </div>

      </li>
      <li class="work-example__item">
        <img src="images/our-work4.jpg" alt="" width="545" height="402">
        <div class="work-example-div">
          <h3 class="work-example__titel">Chattii – Disability Dating App</h3>
        <p class="work-example__text">
          Chattii is born from the need to provide a space for people living with disabilities to connect, chat, and explore their love life.
        </p>
        </div>

      </li>
    </ul>
    <button type="button" class="our-work__btn">See more</button>
    </div>
  </section>