<section class="section our-work">
  <div class="container"></div>
  <h2 class="our-work-titel">We’re proud of our work</h2>
    <ul class="work-list list">
      <li>
        <span>50+</span>
        <p class="our-work-text">Successfully completed projects</p>
      </li>
      <li>
        <span>35+</span>
        <p class="our-work-text">Happy and appreciative customers</p>
      </li>
      <li>
        <span>10</span>
        <p class="our-work-text">Combined years of experience</p>
      </li>
      <li>
        <span>23</span>
        <p class="our-work-text">Experienced and talented workers</p>
      </li>
    </ul>
    <ul>
      <li>
        <img src="images/our-work1.jpg" alt="">
        <h3>Eyetelligence – AI-based Eye Health</h3>
        <p>
          Eyetelligence is a medtech company using AI based software to
          recognise eye diseases. Appello software developed their website
          which has just been released.
        </p>
      </li>
      <li>
        <img src="images/our-work2.jpg" alt="">
        <h3>Give + Get – Charity Challenger App</h3>
        <p>
          Give + Get is a modern charity app. “Give”, while joining a
          community of active people who complete challenges and reap the
          rewards they offer; “Get”.
        </p>
      </li>
      <li>
        <img src="images/our-work3.jpg" alt="">
        <h3>Give + Get – Charity Challenger App</h3>
        <p>
          Give + Get is a modern charity app. “Give”, while joining a
          community of active people who complete challenges and reap the
          rewards they offer; “Get”.
        </p>
      </li>
      <li>
        <img src="images/our-work4.jpg" alt="">
        <h3>Give + Get – Charity Challenger App</h3>
        <p>
          Give + Get is a modern charity app. “Give”, while joining a
          community of active people who complete challenges and reap the
          rewards they offer; “Get”.
        </p>
      </li>
    </ul>
    <button type="button">See more</button>
    </div>
  </section>