<section class="partnerships">
    <h2 class="partnerships__title">Regional partnerships</h2>
    <ul class="cards__list">
        <li class="cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Sydney</h3>
            <svg class="cards__icon" width="78" height="97">
                <use href="images/showplaces.svg#sydney"></use>
            </svg>
        </li>
        <li class="cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Brisbane</h3>
            <svg class="cards__icon" width="81" height="82">
                <use href="images/showplaces.svg#brisbane"></use>
            </svg>
        </li>
        <li class=" cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Goldcoast</h3>
            <svg class="cards__icon" width="63" height="97">
                <use href="images/showplaces.svg#goldcoast"></use>
            </svg>
        </li>
        <li class="cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Adelaide</h3>
            <svg class="cards__icon" width="77" height="79">
                <use href="images/showplaces.svg#adelaide"></use>
            </svg>
        </li>
        <li class=" cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Melbourne</h3>
            <svg class="cards__icon" width="83" height="90">
                <use href="images/showplaces.svg#melbourne"></use>
            </svg>
        </li>
        <li class="cards__item">
            <p class="cards__text">App Development</p>
            <h3 class="cards__title">Canberra</h3>
            <svg class="cards__icon" width="107" height="79">
                <use href="images/showplaces.svg#canberra"></use>
            </svg>
        </li>
    </ul>

</section>