
<section>
  <div class="container">
    <h2 class="relationships-title">We value our relationships</h2>
    <p class="relationships-text">
      Over the past decade, Appello has established itself as a leader in
      the IT industry. Along the way, we have formed a number of valued
      relationships with both clients and business partners.
    </p>
    <ul class="relationships-list list ">
      <li class="relationships-item">
        <a class="relationships-link link" href="">Text</a>
      </li>
      <li relationships-item>
        <a class="relationships-link link" href=""><svg class="team-soc-icon" width="20" height="20">
          <use href="../images/relationships.svg#icon-IMAGE1"></use>
      </svg></a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
      <li relationships-item>
        <a class="relationships-link link" href="">Text</a></li>
    </ul>
  </div>
  </section>