<!-- resources -->
<section class="resources">
  <div class="container">
    <h2 class="resources__title">Resources</h2>
    <p class="resources__text">
      Sharing the latest and greatest from industry trends, insights,
      inspiration and successful Appello ventures.
    </p>
    <ul class="resources__list">
      <li class="description">
        <img
          class="description__img"
          src="./images/resources-1.jpg"
          alt="Image-1"
          width="340"
        />
        <div class="description__wrap">
          <h3 class="description-title">
            Meet our Chief Design Officer, Pharaoh Woghiren
          </h3>
          <p class="description-text description-text--little">
            Meet our Chief Design Officer, Pharaoh Woghiren.
          </p>
        </div>
      </li>
      <li class="description">
        <img
          class="description__img"
          src="./images/resources-2.jpg"
          alt="Image-2"
          width="340"
        />
        <div class="description__wrap">
          <h3 class="description-title">
            Refreshing Mobile Applications: How to Know When a Mobile App
            Redesign is Necessary?
          </h3>
          <p class="description-text">
            When to consider a mobile app redesign and signs to look out for to
            make sure your app captures user attention and loyalty.
          </p>
        </div>
      </li>
      <li class="description">
        <img
          class="description__img"
          src="./images/resources-3.jpg"
          alt="Image-3"
          width="340"
        />
        <div class="description__wrap">
          <h3 class="description-title">
            Your Guide to Developing the Best People Management Software
            Solution
          </h3>
          <p class="description-text">
            Custom employee management software or people management software
            solutions will be extremely beneficial to not only your HR
            department but the entire company.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
  <div class="modal" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg
      class="modal__cross js-modal-close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
    <p class="modal__title">Заголовок окна 2</p>
  </div>
</section>
