<section class="where">
  <div class="container">
    <div class="where-info">
    <h2 class="where-title">Where are you now?</h2>
    <p class="where-text">
      Use the tabs below to identify what stage you’re at so we can help you
      to move on to the next phase of your project.
    </p>
  </div>
    <ul class="where-list list">
      <li class="where-item"><a class="where-link" href="">Design</a></li>
      <li class="where-item"><a class="where-link" href="">Develop</a></li>
      <li class="where-item"><a class="where-link" href="">Launch</a></li>
    </ul>
    
    <ul class="our-skills-list list">
      <li class="our-skills-item">
        <h3 class="first-title">1. Research</h3>
        <p class="first-text">
          We can help you to better understand your target audience,
          enabling you to create a more powerful value proposition for your
          business.
        </p>
      </li>
      <li class="our-skills-item"></liclass>>
        <h3 class="first-title">2. Requirements</h3>
        <p class="first-text">
          Based on research insights, we can help you to determine how your
          product and service should function.
        </p>
      </li>
      <li class="our-skills-item"></liclass>>
        <h3 class="first-title">3. UI Design</h3>
        <p class="first-text">
          We’re able to create unique and aesthetically pleasing visual
          design solutions that fulfil both your user needs and business
          goals.
        </p>
      </li>
      <li class="our-skills-item"></liclass>>
        <h3 class="first-title">4. Prototyping</h3>
        <p class="first-text">
          We can provide you with a clickable prototype so you can test and
          play with your product; allowing you to get a better feel for the
          user experience.
        </p>
      </li>
    </ul>
    <button type="button">Contact us</button>
  </div>
  </section>