<section class="progress">
    <div class="container progress-wrap">
        <h2 class="progress-title">Where are you now?</h2>
        <p class="progress-text">Use the tabs below to identify what stage you’re at so we can help you to move on to
            the next phase of your project.
        </p>
        <ul class="progress-filter list">
            <li class="progress-item"><a href="" class="progress-filter-link link">Design</a></li>
            <li class="progress-item"><a href="" class="progress-filter-link link">Develop</a></li>
            <li class="progress-item"><a href="" class="progress-filter-link link">Launch</a></li>
        </ul>
        <ul class="progress-offer list">
            <li class="offer-item">
                <h3 class="offer-title">1.Research</h3>
                <p class="offer-text">We can help you to better understand your target audience, enabling you to create
                    a more powerful value
                    proposition for
                    your business.</p>
            </li>
            <li class="offer-item">
                <h3 class="offer-title">2.Requirements</h3>
                <p class="offer-text">Based on research insights, we can help you to determine how your product and
                    service should function.</p>
            </li>
            <li class="offer-item">
                <h3 class="offer-title">3.UI Design</h3>
                <p class="offer-text">We’re able to create unique and aesthetically pleasing visual design solutions
                    that fulfil both your user
                    needs and
                    business goals.</p>
            </li>
            <li class="offer-item">
                <h3 class="offer-title">4.Prototyping</h3>
                <p class="offer-text">We can provide you with a clickable prototype so you can test and play with your
                    product; allowing you to get
                    a better
                    feel for the user experience.</p>

            </li>
        </ul>
        <div class="btn">
            <button type="button" class="offer-button">Contact us</button>
        </div>

    </div>

</section>